BDMClient/src/META-INF/wsdl/localhost_8080/BDMWebService/BDMWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="BDMWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/BDMWebService/BDMWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="isAvailable">
<part name="parameters" element="tns:isAvailable"/>
</message>
<message name="isAvailableResponse">
<part name="parameters" element="tns:isAvailableResponse"/>
</message>
<message name="isReservedByHimself">
<part name="parameters" element="tns:isReservedByHimself"/>
</message>
<message name="isReservedByHimselfResponse">
<part name="parameters" element="tns:isReservedByHimselfResponse"/>
</message>
<message name="MemberNotFoundException">
<part name="fault" element="tns:MemberNotFoundException"/>
</message>
<message name="getBookAvailability">
<part name="parameters" element="tns:getBookAvailability"/>
</message>
<message name="getBookAvailabilityResponse">
<part name="parameters" element="tns:getBookAvailabilityResponse"/>
</message>
<message name="viewLentBooks">
<part name="parameters" element="tns:viewLentBooks"/>
</message>
<message name="viewLentBooksResponse">
<part name="parameters" element="tns:viewLentBooksResponse"/>
</message>
<message name="viewBooksLent">
<part name="parameters" element="tns:viewBooksLent"/>
</message>
<message name="viewBooksLentResponse">
<part name="parameters" element="tns:viewBooksLentResponse"/>
</message>
<message name="extendBook">
<part name="parameters" element="tns:extendBook"/>
</message>
<message name="extendBookResponse">
<part name="parameters" element="tns:extendBookResponse"/>
</message>
<message name="isOverdue">
<part name="parameters" element="tns:isOverdue"/>
</message>
<message name="isOverdueResponse">
<part name="parameters" element="tns:isOverdueResponse"/>
</message>
<message name="isReserved">
<part name="parameters" element="tns:isReserved"/>
</message>
<message name="isReservedResponse">
<part name="parameters" element="tns:isReservedResponse"/>
</message>
<message name="memberLogin">
<part name="parameters" element="tns:memberLogin"/>
</message>
<message name="memberLoginResponse">
<part name="parameters" element="tns:memberLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getFines">
<part name="parameters" element="tns:getFines"/>
</message>
<message name="getFinesResponse">
<part name="parameters" element="tns:getFinesResponse"/>
</message>
<message name="returnBook">
<part name="parameters" element="tns:returnBook"/>
</message>
<message name="returnBookResponse">
<part name="parameters" element="tns:returnBookResponse"/>
</message>
<message name="searchBook">
<part name="parameters" element="tns:searchBook"/>
</message>
<message name="searchBookResponse">
<part name="parameters" element="tns:searchBookResponse"/>
</message>
<message name="reserveBook">
<part name="parameters" element="tns:reserveBook"/>
</message>
<message name="reserveBookResponse">
<part name="parameters" element="tns:reserveBookResponse"/>
</message>
<message name="hasFine">
<part name="parameters" element="tns:hasFine"/>
</message>
<message name="hasFineResponse">
<part name="parameters" element="tns:hasFineResponse"/>
</message>
<message name="isLoanedByMember">
<part name="parameters" element="tns:isLoanedByMember"/>
</message>
<message name="isLoanedByMemberResponse">
<part name="parameters" element="tns:isLoanedByMemberResponse"/>
</message>
<message name="payFines">
<part name="parameters" element="tns:payFines"/>
</message>
<message name="payFinesResponse">
<part name="parameters" element="tns:payFinesResponse"/>
</message>
<portType name="BDMWebService">
<operation name="isAvailable">
<input wsam:Action="http://ws.session.ejb/BDMWebService/isAvailableRequest" message="tns:isAvailable"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/isAvailableResponse" message="tns:isAvailableResponse"/>
</operation>
<operation name="isReservedByHimself">
<input wsam:Action="http://ws.session.ejb/BDMWebService/isReservedByHimselfRequest" message="tns:isReservedByHimself"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/isReservedByHimselfResponse" message="tns:isReservedByHimselfResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/isReservedByHimself/Fault/MemberNotFoundException"/>
</operation>
<operation name="getBookAvailability">
<input wsam:Action="http://ws.session.ejb/BDMWebService/getBookAvailabilityRequest" message="tns:getBookAvailability"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/getBookAvailabilityResponse" message="tns:getBookAvailabilityResponse"/>
</operation>
<operation name="viewLentBooks">
<input wsam:Action="http://ws.session.ejb/BDMWebService/viewLentBooksRequest" message="tns:viewLentBooks"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/viewLentBooksResponse" message="tns:viewLentBooksResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/viewLentBooks/Fault/MemberNotFoundException"/>
</operation>
<operation name="viewBooksLent">
<input wsam:Action="http://ws.session.ejb/BDMWebService/viewBooksLentRequest" message="tns:viewBooksLent"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/viewBooksLentResponse" message="tns:viewBooksLentResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/viewBooksLent/Fault/MemberNotFoundException"/>
</operation>
<operation name="extendBook">
<input wsam:Action="http://ws.session.ejb/BDMWebService/extendBookRequest" message="tns:extendBook"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/extendBookResponse" message="tns:extendBookResponse"/>
</operation>
<operation name="isOverdue">
<input wsam:Action="http://ws.session.ejb/BDMWebService/isOverdueRequest" message="tns:isOverdue"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/isOverdueResponse" message="tns:isOverdueResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/isOverdue/Fault/MemberNotFoundException"/>
</operation>
<operation name="isReserved">
<input wsam:Action="http://ws.session.ejb/BDMWebService/isReservedRequest" message="tns:isReserved"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/isReservedResponse" message="tns:isReservedResponse"/>
</operation>
<operation name="memberLogin">
<input wsam:Action="http://ws.session.ejb/BDMWebService/memberLoginRequest" message="tns:memberLogin"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/memberLoginResponse" message="tns:memberLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BDMWebService/memberLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getFines">
<input wsam:Action="http://ws.session.ejb/BDMWebService/getFinesRequest" message="tns:getFines"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/getFinesResponse" message="tns:getFinesResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/getFines/Fault/MemberNotFoundException"/>
</operation>
<operation name="returnBook">
<input wsam:Action="http://ws.session.ejb/BDMWebService/returnBookRequest" message="tns:returnBook"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/returnBookResponse" message="tns:returnBookResponse"/>
</operation>
<operation name="searchBook">
<input wsam:Action="http://ws.session.ejb/BDMWebService/searchBookRequest" message="tns:searchBook"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/searchBookResponse" message="tns:searchBookResponse"/>
</operation>
<operation name="reserveBook">
<input wsam:Action="http://ws.session.ejb/BDMWebService/reserveBookRequest" message="tns:reserveBook"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/reserveBookResponse" message="tns:reserveBookResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/reserveBook/Fault/MemberNotFoundException"/>
</operation>
<operation name="hasFine">
<input wsam:Action="http://ws.session.ejb/BDMWebService/hasFineRequest" message="tns:hasFine"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/hasFineResponse" message="tns:hasFineResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/hasFine/Fault/MemberNotFoundException"/>
</operation>
<operation name="isLoanedByMember">
<input wsam:Action="http://ws.session.ejb/BDMWebService/isLoanedByMemberRequest" message="tns:isLoanedByMember"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/isLoanedByMemberResponse" message="tns:isLoanedByMemberResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BDMWebService/isLoanedByMember/Fault/MemberNotFoundException"/>
</operation>
<operation name="payFines">
<input wsam:Action="http://ws.session.ejb/BDMWebService/payFinesRequest" message="tns:payFines"/>
<output wsam:Action="http://ws.session.ejb/BDMWebService/payFinesResponse" message="tns:payFinesResponse"/>
</operation>
</portType>
<binding name="BDMWebServicePortBinding" type="tns:BDMWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isReservedByHimself">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getBookAvailability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewLentBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewBooksLent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="extendBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isOverdue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="isReserved">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="memberLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getFines">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="returnBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserveBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="hasFine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="isLoanedByMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="payFines">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BDMWebService">
<port name="BDMWebServicePort" binding="tns:BDMWebServicePortBinding">
<soap:address location="http://localhost:8080/BDMWebService/BDMWebService"/>
</port>
</service>
</definitions>